In [15]:
from nb_categorizer import categorize_notebooks
from data_exporter import get_category
import pandas as pd

notebook_paths = categorize_notebooks()

In [16]:
notebooks = 'translations'

category = get_category(notebook_paths, notebooks)

for table in category:
    df = pd.read_html(table['error_table'])[0]
    df.columns = df.columns.get_level_values(0)
    df = df.rename({'Unnamed: 0_level_0': 'true_value'}, axis=1).set_index('true_value')
    df = df.style.set_caption(table['name'])
    display(df)